*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  Variables */
:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: #49a6e9;
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Open Sans', sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

/* Global Styles */

body {
    font-family: var(--ff-secondary);
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

/*  global classes */

.btn {
    text-transform: uppercase;
    background: var(--clr-primary-5);
    color: var(--clr-white);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid var(--clr-primary-5);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
}

.btn:hover {
    color: var(--clr-primary-5);
    background: var(--clr-primary-1);
    border-color: var(--clr-primary-1);
}

/* Cocktails Container */
#cocktails-container {
    width: 90vw;
    padding: 4.5rem 0;
    margin: 0 auto;
    text-align: center;
}

.heading h1 {
    font-size: 2.3rem;
    padding-bottom: 15px;
    font-weight: 700;
}

.heading input {
    font-size: 1.02rem;
    width: 60vw;
    height: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: var(--radius);
    border: 0.5px solid var(--clr-grey-9);
    padding: 6px 10px;
    font-weight: 400;
    opacity: 0.8;
    margin-bottom: 3rem;
}

.heading input:focus {
    border: 1px solid var(--clr-grey-4);
}

input::placeholder {
    text-transform: uppercase;
}

.cocktails {
    width: 85vw;
    max-width: 1170px;
    margin: 0 auto;
}

/* Loader */
.loader {
    display: none;
    visibility: hidden;
}

.loader.show-loader {
    display: block;
    visibility: visible;
}

/* Product */
.cocktail {
    position: relative;
    margin-bottom: 3rem;
    transition: 0.4s all linear;
    cursor: pointer;
    /* border:2px solid red; */
    /* min-width: 400px; */
}

.cocktail img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    padding: 5px;
    transition: 0.4s all linear;
    box-shadow: var(--dark-shadow);
}

.cocktail .title {
    position: absolute;
    right: -1rem;
    bottom: -1rem;
    background-color: var(--clr-black);
    color: var(--clr-white);
    font-weight: 700;
    font-size: 2rem;
    padding: 8px;
    border-radius: var(--radius);
    margin: 0;
}

.cocktail:hover {
    transform: scale(1.005);
}

.cocktail:hover img {
    filter: blur(1px) grayscale(30%);
}

@media screen and (min-width:576px) {
    .cocktails {
        display: grid;
        gap: 2.5rem;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        column-gap: 3rem;
    }
}

@media screen and (min-width:1200px) {
    .heading input {
        width: 38vw;
    }

    .cocktails {
        width: 95vw;
    }
}


/* Product.html */


#drink {
    width: 90vw;
    margin: 6rem auto;
    padding: 5px 30px;
    max-width: 1500px;
}

#drink img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
    box-sizing: var(--dark-shadow);
}

#drink .img-details {
    margin-top: 2.5rem;
    padding-left: 5px;
}

#drink .img-details h2 {
    margin-bottom: 5px;
}

#drink .img-details p {
    font-size: 1.01rem;
}

#drink .img-details .checkbox p {
    margin-bottom: 0px;
}

#drink .img-details .checkbox p {
    color: var(--clr-black);
}

#drink .img-details p i {
    display: inline-block;
    transform: translateY(5%);
    padding-right: 10px;
}

#drink .back-btn {
    border: none;
    background-color: var(--clr-primary-5);
    padding: 5px 10px;
    margin-top: 1.5rem;
    font-size: 1.02rem;
    text-transform: uppercase;
    border-radius: var(--radius);
    letter-spacing: 2px;
    color: var(--clr-black);
    cursor: pointer;
    transition: 0.3s all ease;
}

#drink .back-btn:hover {
    background-color: var(--clr-primary-3);
    color: var(--clr-white)
}

@media screen and (min-width:768px) {
    #drink {
        width: 85vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }

    #drink .img-section {
        text-align: right;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.21);
        max-width: 500px;
    }

    #drink .img-details {
        max-width: 500px;
    }

    #drink img {
        display: block;
        text-align: right;
        width: 100%;
    }
}